@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
body{
	background-color: black;
}

img{
  mask-repeat: no-repeat;

  margin-left: 550px;
  width: 865px;
}


.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 24px;

  position: absolute;
  width: 561px;
  height: 386px;
  left: 100px;
  top: 200px;
  color: white;

  background: #1a1a1a;
  border-radius: 15px;
}

input{
	height: 40px;
	width: 550px;
	margin: 15px 0px;
	padding: 5px;
  font-family: 'Francois One', sans-serif;
}
.btn{
	height: 50px;
	width: 100px;
	padding: 0px;
	font-size: 18px;
	font-family: 'Francois One', sans-serif;
	font-weight: 600;
	margin: 20px 0px;
	color: white;
	background: #AC6CFD;
  border-color:#AC6CFD;
	margin-left: 170px;
	border-radius: 10px;
}
.btn:hover{
  height: 50px;
	width: 100px;
	padding: 0px;
	font-size: 18px;
	font-family: 'Francois One', sans-serif;
	font-weight: 600;
	margin: 20px 0px;
	color: white;
	background:#ab6cfdc5;
	margin-left: 170px;
	border-radius: 10px;
}
h1 {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}
h3 {
  font-family: 'Francois One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.img{
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-top: 10px;
}