@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
body {
  background-color: black;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 24px;
  color: white;

  position: absolute;
  width: 596px;
  height: 670px;
  left: 900px;
  top: 40px;

  background: #1a1a1a;
  box-shadow: 8px 16px 75px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
}
.img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-top: 10px;
}
h1 {
  font-family: "Anton", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: white;
}
h3 {
  font-family: "Francois One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: white;
}

.Last_Name {
  margin-left: 155px;
}
.input_1 {
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 227px;
  color: white;
  width: 220px;
  height: 33px;
  font-family: "Francois One", sans-serif;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}
.input_2 {
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 227px;
  color: white;
  width: 220px;
  height: 33px;
  font-family: "Francois One", sans-serif;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  margin-left: 20px;
}
.btn {
  height: 40px;
  width: 155px;
  padding: 0px;
  font-size: 18px;
  font-family: "Francois One", sans-serif;
  color: white;
  background: #ac6cfd;
  border-color: #ac6cfd;
  border-radius: 10px;margin-left: 160px;
}
.btn:hover {
  height: 40px;
  width: 155px;
  padding: 0px;
  font-size: 18px;
  margin-left: 160px;
  font-family: "Francois One", sans-serif;
  color: white;
  background: #ab6cfdc5;
  border-radius: 10px;
}

.Confirm_password {
  margin-left: 170px;
}
.Phone {
  margin-left: 195px;
}
.check {
  margin-left: 120px;
}
.acc {
  margin-left: 120px;
}
.acco:hover {
  text-decoration-line: underline;
  color: #ab6cfdc5;
}
.acco {
  text-decoration: none;
  color: #ffffff;
}
.image{
    width: 805px;
    mask-repeat: no-repeat;
    margin-bottom: 100px;
  }