.e332_697 { 
	box-shadow:31px 81px 61px rgba(0, 0, 0, 1);
	transform: rotate(28.818703000042493deg);
	width:893.5274047851562px;
	height:893.5274047851562px;
	background-image:url(images/camera_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}